<!DOCTYPE html>
<html>
<head>
    <title>Stock Markets</title>
</head>
<body>
    <form id="live-data2-form" method="POST">
        {% csrf_token %}
        <label for="select">Choose an option:</label>
        <select id="Select" name="select">
                <option value="Google">GOOGLE</option>
                <option value="Apple">APPLE</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>

    {% if Current_price %}
    <button>
        Current_price
        <h2>{{ selected_option }}</h2>
        {{ Current_price|safe }}
    </button>
    {% endif %}

    {% if average %}
        <button>
            average
            <h2>{{ selected_option }}</h2>
            {{ average|safe }}
        </button>
    {% endif %}
    
    {% if close_price %}
    <button>
        Close_Value
        <h2>{{ selected_option }}</h2>
        {{ close_price|safe }}
    </button>
    {% endif %}

    <div id="graph-container">
        {% if graph_html %}
            <h2>{{ selected_option }}</h2>
            {{ graph_html|safe }}
        {% endif %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Submit form using AJAX
            $('#live-data-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#graph-container').html(response);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
            setInterval(function() {
                $('#live-data2-form').submit();
            }, 10000);
        });
    </script>
</body>
</html>