<!DOCTYPE html>
<html>
<head>
    <title>Live Data</title>
    {{ graph_html|safe }}
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="select">Choose an option:</label>
        <select id="select" name="select">
            <option value="Bitcoin">Bitcoin</option>
            <option value="Etherum">Etherum</option>
            <option value="Tether">Teather</option>
            <option value="BNB">BNB</option>
            <option value="XRP">XRP</option>
            <option value="DOGE">DOGE</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>

    {% if graph_html %}
        <h2>{{ selected_option}}</h2>
        {{ graph_html|safe }}
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Submit form using AJAX
            $('#live-data-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/live_data/',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#graph-container').html(response);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
            
            // Auto-refresh graph every 5 seconds
            setInterval(function() {
                $('#live-data-form').submit();
            }, 5000);
        });
    </script>
</body>
</html>
