<!DOCTYPE html>
<html>
<head>
  <title>Dropdown with Icon Options</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
</head>
<body>
  <h1>Dropdown with Icon Options</h1>

  <select id="myDropdown">
    <option value="option1" data-icon="bitcoin.jpg">Option 1</option>
    <option value="option2" data-icon="bitcoin.jpg">Option 2</option>
    <option value="option3" data-icon="bitcoin.jpg">Option 3</option>
    <option value="option4" data-icon="bitcoin.jpg">Option 4</option>
    <option value="option5" data-icon="bitcoin.jpg">Option 5</option>
  </select>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#myDropdown').select2({
        templateResult: function(data) {
          var $option = $('<span></span>').text(data.text);
          if (data.element && data.element.dataset && data.element.dataset.icon) {
            $option.prepend('<img src="' + data.element.dataset.icon + '" alt="Icon" width="16" height="16"> ');
          }
          return $option;
        }
      });
    });
  </script>
</body>
</html>